.titulo{
    margin-right: 15px;
    margin-bottom: 15px;
}

/* img{
    width: 15vw !important;
} */

h2,h3{
    text-align: center;
}
.descripcion, .botones{
    margin-right: 15px;
    margin-left: 15px;
}

.p3{
    display: flex;
    text-align: center;
    /* flex-direction: row; */
    justify-content: space-evenly


}
